parameters:
	level: 8
	paths:
		- src/
	ignoreErrors:
		- '#Call to an undefined method Cake\\ORM\\Table::cascadingRestoreTrash\(\)#'
		- identifier: missingType.iterableValue
		- identifier: missingType.generics
